{{ define "header" }}
<h1>{{ .Title }}</h1>
{{ with .Description }}
<p class="description">{{ . }}</p>
{{ end }}
{{ end }}

{{ define "main" }}
<article>
    {{ with .Params.image }}
    <figure>
        <amp-img
            src="{{ . }}"
            width="800"
            height="400"
            layout="responsive"
            alt="{{ $.Params.image_alt }}"
        ></amp-img>
        {{ with $.Params.image_alt }}
        <figcaption>{{ . }}</figcaption>
        {{ end }}
    </figure>
    {{ end }}
    
    <div class="content">
        {{ $content := .Content }}
        {{ $content := replaceRE "<img ([^>]+)>" "<amp-img $1 layout=\"responsive\"></amp-img>" $content }}
        {{ $content := replaceRE "<iframe ([^>]+)>" "<amp-iframe $1 layout=\"responsive\" sandbox=\"allow-scripts allow-same-origin\">" $content }}
        {{ $content | safeHTML }}
    </div>
    
    {{ with .Params.tags }}
    <div class="tags">
        {{ range . }}
        <span class="tag">{{ . }}</span>
        {{ end }}
    </div>
    {{ end }}
</article>
{{ end }}

{{ define "footer" }}
<p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}</p>
{{ with .Lastmod }}
<p>Last updated: {{ .Format "January 2, 2006" }}</p>
{{ end }}
{{ end }} 